@font-face {
    font-family: "Jingleberry";
    font-weight: 900;
    font-style: normal;
    src: local("Raleway-Regular"),
            url('../fonts/Jingleberry-4wVp.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: "Jingleberry";
    font-weight: 900;
    font-style: normal;
    src: local("Raleway-Regular"),
            url('../fonts/Jingleberry-4wVp.woff2') format('woff2');
    font-display: swap;
}
