.product-card__cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-card__cart .add_to_cart_button {
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.product-card__cart {
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-card {
    padding-right: 10px;
}
.add_to_cart_button.shop-ferma__rel-add {
    margin-left: 28px;
}
.product-card__cart .cart__qty {
    margin-right: 32px;
}


.cart__qty {
    margin-right: 20px;
}
.product-card__cart .add_to_cart_button {
    margin-left: auto;
    margin-right: 10px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.product-card__cart .cart__qty {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.add_to_cart_button.product-in-cart,
.add_to_cart_button.added {
    background: #cccccc !important;
    border-color: #cccccc !important;
    color: #333 !important;
    pointer-events: none !important;
    cursor: default !important;
}
